* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

a {
    color: white;
}

.one {
    background: lightseagreen;
}

.two {
    background: lightcoral;
}

.three {
    background: lightslategray;
}

.four {
    background: lightsalmon;
}

.five {
    background: turquoise;
}

.six {
    background: lightcoral;
}

.seven {
    background: lightpink;
}

.eight {
    background: lightsteelblue;
}

.nine {
    background: lightgreen;
}

.ten {
    background: lightseagreen;
}